/* LOGO NDRR// Animation Nav */

#logo path:nth-child(1){
    stroke-dasharray: 1129;
    stroke-dashoffset: 1129;
    animation: line-anim 2s  forwards; 
  }
  #logo path:nth-child(2){
    stroke-dasharray: 938;
    stroke-dashoffset: 938;
    animation: line-anim 2s  forwards 0.2s;
  }
  #logo path:nth-child(3){
    stroke-dasharray: 981;
    stroke-dashoffset: 981;
    animation: line-anim 2s  forwards 0.4s;
  }
  #logo path:nth-child(4){
    stroke-dasharray: 981;
    stroke-dashoffset: 981;
    animation: line-anim 2s  forwards .6s;
    
  }
  #logo path:nth-child(5){
    stroke-dasharray: 223;
    stroke-dashoffset: 223;
    animation: line-anim 2s  forwards .8s;
    
  }
  #logo path:nth-child(6){
    stroke-dasharray: 1069;
    stroke-dashoffset: 1069;
    animation: line-anim 2s forwards 1s;
    
  }
  #logo path:nth-child(7){
    stroke-dasharray: 835;
    stroke-dashoffset: 835;
    animation: line-anim 2s  forwards 1.2s;
    
  }
  #logo path:nth-child(8){  
    stroke-dasharray: 1019;
    stroke-dashoffset: 1019;
    animation: line-anim 2s  forwards 1.4s;
   
  }
  
  @keyframes line-anim{
    to{
      stroke-dashoffset: 0;
    }
  }
  
  
  /* END LOGO NDRR// Animation Nav */